/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border:  3px solid $color__green-brand;
	border-radius: 3px;
	background: transparent;
	color: $color__green-brand;
	padding: $base__space-unit/3 $base__space-unit*1.5;
	margin: $base__space-unit 0;
	text-transform: capitalize;
	font-weight: bold;
	// font-size: .9rem;

	&:hover,
	&:active,
	&:focus {
		color: $color__green-brand-dark;
		border-color: $color__green-brand-dark;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
