/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site {
    margin: $base__space-unit/2;

    @include tablet {
        margin: $base__space-unit/1.5;
    }

    @include desktop {
        width: $site-with;
        margin: auto;
        margin-top: $base__space-unit;
    }
}

.site-header { 
    @include desktop {
        display: flex;
        justify-content: center;
    }

    img { 
        margin-top: $base__space-unit*2;
        height: 45px;

        @include tablet {
            height: 75px;
        }

        @include desktop {
            height: 110px;
        }
    }
}

.site-content {
    @include desktop {
        margin: 0 $base__space-unit*8;
        &::before, &::after {
            position: absolute;
            top: 120px;
            font-size: 25rem;
            color: $color__green-brand;
            // font-family: FontAwesome;

        }
        &::before {
            left: 200px;
            content: "\201C";
        }

        &::after {
            right: 200px;
            content: "\201D"; 
        }
    }

    .button-wrapper {
        width: 100%;
    }
}

.home-page {
    article {
        font-size: 1.3rem;
        margin-bottom: $base__space-unit*2;
    
        .entry-header {
            width: 100%;
    
            @include tablet {
                font-size: 1.7rem;
            }
    
            @include desktop {
                font-size: 2.5rem;
            }
        }
    
        .entry-content {
            .author {
                &::before {
                    content: "\2014";
                    padding-right: $base__space-unit / 4;
                }
            }
        }  
    }

    .button-wrapper {
        @include desktop {
            text-align: center;
        }
    }
}

.entry-header {
    h1 {
        margin: $base__space-unit*2 0 $base__space-unit 0;
    }
}


footer {
    line-height: 2;
    margin-top: $base__space-unit*3;

    .site-info {
        display: inline;

        @include tablet {
            &::before {
                display: inline;
                content: "\007C";
                padding-right: $base__space-unit/2;
            }
        }
    }

    @include desktop {
        display: flex;
        justify-content: flex-end;
    }
    
}
/* All Archives Page */

.quote-authors, .categories, .tags {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding-right: $base__space-unit;

            @include tablet {
                font-size: 1.2rem;
            }

            @include tablet {
                font-size: 1.3rem;
            }
        }
    }
}

/* Submit a Quote Page */
